@import "tailwindcss";

@theme {
  --font-sans: var(--font-poppins);
}

:root {
  --background: #ffffff;
  --foreground: #09090b;
}

body {
  color: var(--foreground);
  background: var(--background);
}
